/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.logout {
  margin-left: 1400px;
  margin-top: 12px;
}

.log-in {
  margin-top: 150px;
  margin-left: 210px;
}

.sign-up {
  margin-top: 150px;
  margin-left: 580px;
}

.welcome {
  text-align: center;
  margin-top: -150px;
}

div {
  text-align: center;
}

.contact-submit {
  margin-top: 10px;
}

.person {
  margin-top: 10px;
}

#contact_email {
  margin-top: 10px;
}

#contact-form {
  margin-top: -50px;
}

#typed {
  margin-bottom: 15px;
}

th, td {
  padding-left: 50px;
  text-align: center;
}

.btn-default {
  height: 20px;
}

tr > td {
  padding-bottom: 10px;
}

.not-contacted {
  background: lightblue;
}

.contacted {
  background: pink;
}
